.app__filter-item {
    background: #F9EBFF;
    padding: 5px;
  }
  .app__filter-fullname {
    border: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 18px;
    outline: none;
    text-align: center;
  }

