.gnome__list{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(1, 95%);
    grid-gap: 60px; 
    justify-content: center;
    margin-top: 30px;

}

.gnome__notfound{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.gnome__notfound-text{
    font-size: 12px;
}

.gnome{
    background-color: rgba(199,252,236, 0.50);
    border-radius: 5%;
    &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
        0 10px 10px rgba(0,0,0,0.22);
      }    
}

.glowButton {
    padding: 0 14px;
    transition: all .3s ease;
}

.glowButton:hover {
    background: rgba(234, 236, 236, 0.72);
    border-color: #00A984;
    box-shadow: 0 0 25px 1px white;
}



// @media all and (min-width: 1200px){

// .gnome__list{
//     grid-template-columns: repeat(3, 25%);
//     grid-gap: 30px;        
// }

// .gnome__notfound-text{
//     font-size: 32px;
// }

// .gnome{    
//     width: 200px;
//     height: 300px;
//     &:hover {
//         box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
//         0 10px 10px rgba(0,0,0,0.22);
//       }    
// }

// .glowButton {
//     height: 300px;
//     padding: 0 14px;
//     transition: all .3s ease;
// }

// .glowButton:hover {
//     background: #FFC75F;
//     border-color: #FFC75F;
//     box-shadow: 0 0 25px 1px white;
// }

// .gnome__image {
//     width: 200px;
//     height: 200px;
//     border-radius: 5%;
//     float: right;
// }

// .gnome__details{
//     display:flex;
//     justify-content: space-around;
//     margin-left: 5px;
//     margin-bottom: 0px;
// }

// .gnome__lists{
//     display: flex;
// }

// }