.gnome__list{
    list-style-type: none;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 25%);
    grid-gap: 30px;
    font-family: 'Open Sans', sans-serif;
        
}

.gnome{
    background-color: #FFF8EE;
    border-radius: 5%;
    width: 500px;
    height: 300px;
    &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
        0 10px 10px rgba(0,0,0,0.22);
      }    
}

.glowButton {
    height: 300px;
    padding: 0 14px;
    transition: all .3s ease;
}

.glowButton:hover {
    background: #FFC75F;
    border-color: #FFC75F;
    box-shadow: 0 0 25px 1px white;
}

.gnome__image {
    width: 200px;
    height: 200px;
    float: right;
}

.gnome__details{
    display:flex;
    justify-content: space-around;
    margin-left: 5px;
    margin-bottom: 0px;
}

.gnome__lists{
    display: flex;
}