* {
    font-family: 'Open Sans', sans-serif;
}

.app__header {
    text-align: center;
    font-size: 40px;
    color: #F9EBFF;
}

.app__welcoming {
    background-image: url("./assets/cover.jpg");
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    z-index: 1;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}

.app__main {
    height: 100%;
}