* {
    font-family: 'Open Sans', sans-serif;
}

.app__header-title {
    padding-top: 12%;
    text-align: center;
    font-size: 45px;
    color: #E9FEF7;
}

.app__welcoming {
    background-image: url("./assets/cover.jpg");
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    z-index: 1;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}

.app__main {
    margin-top: 20px;
    height: 100%;
}